/*
@font-face {
    font-family: 'Exo_2_0_light';
    src: url('fonts/Exo_2_0_light.eot');
    src: url('fonts/Exo_2_0_light.eot') format('embedded-opentype'),
         url('fonts/Exo_2_0_light.woff2') format('woff2'),
         url('fonts/Exo_2_0_light.woff') format('woff'),
         url('fonts/Exo_2_0_light.ttf') format('truetype'),
         url('fonts/Exo_2_0_light.svg#Exo_2_0_light') format('svg');
}
*/


/*

@font-face {
    font-family: 'overpass_light';
    src: url('../fonts/overpass_light.eot');
    src: url('../fonts/overpass_light.eot') format('embedded-opentype'),
         url('../fonts/overpass_light.woff2') format('woff2'),
         url('../fonts/overpass_light.woff') format('woff'),
         url('../fonts/overpass_light.ttf') format('truetype'),
         url('../fonts/overpass_light.svg#overpass_light') format('svg');
}

*/


/*

@font-face {
    font-family: 'amavickfont';
    src: url('fonts/amavickfont.eot');
    src: url('fonts/amavickfont.eot') format('embedded-opentype'),
         url('fonts/amavickfont.woff2') format('woff2'),
         url('fonts/amavickfont.woff') format('woff'),
         url('fonts/amavickfont.ttf') format('truetype'),
         url('fonts/amavickfont.svg#amavickfont') format('svg');
}
*/
/*

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot') format('embedded-opentype'), url('../fonts/BebasNeueRegular.woff2') format('woff2'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype'), url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}
*/

@import url(https://fonts.googleapis.com/css?family=El+Messiri&subset=latin,cyrillic); 

body {
    padding-top: 0;
    background-color: #363534;
    color: #fdf9f1;
}

.row {
    margin-right: 0px;
}

.col-md-12 {
    padding-right: 0;
    padding-left: 0;
}

header {
    padding-top: 0;
    color: #ffffff;
    background-color: #160b52;
    background-position: center center;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: none;
/*    background: transparent;*/
    background: rgba(34, 34, 34, 0.57);
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    /*    font-family: 'Exo_2_0_light';*/
    /*    font-family: 'overpass_light';*/
    /*    font-family: 'amavickfont';*/
    /*    font-family: 'BebasNeueRegular';*/
/*    font-family: 'Lora', serif;    */
    font-family: 'El Messiri', sans-serif;
    font-size: 20px;
    padding-right: 2px;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #b52536;
    background-color: transparent;
}

.navbar-right {
    margin-right: 20px;
}

#logo img {
    width: 200px;
    margin-top: -10px;
}

#main {
    background-image: url(../img/bg/bg_maibn.jpg);
    background-size: cover;
}
#main_ {
    
}

#main h3 {
    /*    font-family: 'Exo_2_0_light';*/
    /*    font-family: 'overpass_light';*/
    /*   font-family: 'amavickfont';*/
/*    font-family: 'BebasNeueRegular';*/
/*    font-family: 'Lora', serif;*/
        font-family: 'El Messiri', sans-serif;
    padding-bottom: 10%;
    padding-top: 45%;
    margin-right: 5%;
}

#main p {
    /*    font-family: 'Exo_2_0_light';*/
    /*    font-family: 'overpass_light';*/
    /*    font-family: 'amavickfont';*/
/*    font-family: 'BebasNeueRegular';*/
/*    font-family: 'Lora', serif;*/
        font-family: 'El Messiri', sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin-right: 25px;
    margin-left: 25px;
    line-height: 35px;
    padding-bottom: 60%;
}


#foto p {
    /*    font-family: 'Exo_2_0_light';*/
    /*    font-family: 'overpass_light';*/
    /*    font-family: 'amavickfont'; */
/*    font-family: 'BebasNeueRegular';*/
/*    font-family: 'Lora', serif;*/
        font-family: 'El Messiri', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#foto h3 {
    /*    font-family: 'Exo_2_0_light';*/
    /*    font-family: 'overpass_light';*/
    /*    font-family: 'amavickfont';*/
/*    font-family: 'BebasNeueRegular';*/
/*    font-family: 'Lora', serif;*/
        font-family: 'El Messiri', sans-serif;
}

.mosaicflow__item {
    padding: 3px;
}

.mosaicflow__column {
    float: left;
}

.mosaicflow__item img {
    display: block;
    width: 100%;
    height: auto;
    /*  padding: 10px;*/
    border: 0px solid transparent;
    border-radius: 4px;
    background-color: #fff;
}

.mosaicflow__item img:hover {
    opacity: .6;
    filter: alpha(opacity=60);
}

#services p {
    font-size: 12px;
}

#services h3 {
    /*    font-family: 'Exo_2_0_light';*/
    /*    font-family: 'overpass_light';*/
    /*    font-family: 'amavickfont';*/
/*    font-family: 'BebasNeueRegular';*/
/*    font-family: 'Lora', serif;*/
        font-family: 'El Messiri', sans-serif;
}
#price * {
    
}
#price h4,
h5 {
    /*    font-family: 'Exo_2_0_light';*/
    /*    font-family: 'overpass_light';*/
    /*    font-family: 'amavickfont';*/
/*    font-family: 'BebasNeueRegular';*/
/*    font-family: 'Lora', serif;*/
        font-family: 'El Messiri', sans-serif;
    color: #8cb926;
/*    text-align: left;*/
}

#price p {
    /*    font-family: 'Exo_2_0_light';*/
    /*    font-family: 'overpass_light';*/
    /*    font-family: 'amavickfont';*/
/*    font-family: 'BebasNeueRegular';*/
/*    font-family: 'Lora', serif;*/
        font-family: 'El Messiri', sans-serif;
    font-size: 18px;
    font-weight: 100;
    
        
}
.text-position {
    margin-left: 15%;
    text-align: left;
    
}

#contact {
    /*    font-family: 'Exo_2_0_light';*/
    /*    font-family: 'overpass_light';*/
    /*    font-family: 'amavickfont';*/
/*    font-family: 'BebasNeueRegular';*/
/*    font-family: 'Lora', serif;*/
        font-family: 'El Messiri', sans-serif;
}

#contact {
/*    background-image: url(../img/bg/grey_wash_wall.png);*/
    background-color: #363534;
    background-repeat: repeat;
}

#contact a {
    font-family: monospace;
    color: #0a0808;
    font-size: 16px;
}

#contact h4,
h3 {
    /*    font-family: 'Exo_2_0_light';*/
    /*    font-family: 'overpass_light';*/
    /*    font-family: 'amavickfont';*/
/*    font-family: 'BebasNeueRegular';*/
/*    font-family: 'Lora', serif;*/
        font-family: 'El Messiri', sans-serif;
}

#contact .col-md-12 {
    padding-top: 25px;
}

.col-md-4 hr {
    line-height: 20px;
}

#scrollup {
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    display: none;
    padding: 15px 10px 10px;
    cursor: pointer;
    opacity: .5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #5d5d5d;
}

footer {
    background-image: url(../img/bg/binding_dark.png);
    background-repeat: repeat;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #3b3736;
}

@media (max-width: 480px) {
    #main
    {
        background-size: cover;
    }
    #logo img {
        width: 100px;
    }
    #main h3 {
        font-size: 16px;
        
        padding-top: 15%;
        padding-bottom: 0px;
    }
    #main p {
        font-size: 12px;
        padding-bottom: 10px;
        line-height: 25px;
        
    }
    #foto p {
        font-size: 12px;
    }
    #foto h3 {
        font-size: 16px;
    }
    #services p {
        font-size: 12px;
    }
    #services h3 {
        font-size: 16px;
    }
    #price h4,
    h5 {
        font-size: 14px;
    }
    #price p {
        font-size: 12px;
    }
 
}